{% extends 'my_expense/base.html' %}
{% block title %}Мои настройки{% endblock %}
{% block content %}
    <h1>Добавь новые категории расходов для таблицы</h1>
    <p>Подумай на какие категории ты можешь разделить все свои траты и присвой им имена.<br>
    Например: <i><b>"Еда", "Коммунальные платежи", "Транспорт", "На себя любимого"</b></i> и пр.<br>
    Мы будем суммировать траты по каждой категории и наглядно показывать, на что уходит твоя зарплата.</p>
    <p>Также можно сгруппировать несколько категорий в одну группу <span class="smaller"><i>(но это не обязательно)</i></span>.
        <br>Например создать категории <i><b>"Еда дома", "Еда на работе" и "Сладенькое"</b></i> и объединить их в общую
        группу <i><b>"Еда"</b></i>.<br>
        Так статистика будет вестись как по каждой категории так и по группе в целом.</p>
    <p><i>P.S. Всего можно создать <u>до 10-ти категорий</u>. Тебе же этого хватит, да?</i></p><br>
    <form class ="add_cat" action="." method="post">
        {% for form in formset %}
            <p {% if not forloop.first %} class="invisible" {% endif %}>
                <span class="counter">{{ forloop.counter }}:</span> {{ form }}</p>
        {% endfor %}
        {{ formset.management_form }}
        {% csrf_token %}
        <p class="center"><input class="add_cat" type="submit" value="Добавить"></p>
    </form>
{% endblock %}