{% load static %}

<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8" >
    <title>Password change</title>
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
</head>
<body>
    <div id="circle" class="sec_asker_small"></div>
	<div id="circle" class="sec_asker"></div>
    <div id="cloud" class="password_change_complete_ask">
        <h2 class="center">Поменял.</h2>
        <p>Попробуй выйти и зайти с новым паролем.</p>
        <p class="center"><a href="{% url 'accounts:logout' %}">Выйти</a></p>
    </div>
</body>
</html>

