{% load static %}

<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8" >
    <title>Password change</title>
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
</head>
<body>
    <div id="circle" class="sec_asker_small"></div>
	<div id="circle" class="sec_asker"></div>
    <div id="cloud" class="password_change_confirm_ask">
		{% if form.errors %}
			<h2 class="center">Ошибка!</h2>
			<p>Пароли не совпали либо введён старый пароль</p>
		{% else %}
			<h2 class="center">Хорошо,</h2>
			<p>напиши старый и придумай новый пароль минимум из восьми букв<br>
				 и цифр (можно и символов добавить) и введи его дважды.<br>
		{% endif %}
    </div>
	<div id="circle" class="first_answerer_small"></div>
	<div id="circle" class="first_answerer"></div>
	<div id="cloud" class="password_change_confirm_answer">
		<h2 class="center">Придумал!</h2>
		<form action="." method="post">
			<p>Старый: {{ form.old_password }}</p>
			<p>Новый 1: {{ form.new_password1 }}</p>
			<p>Новый 2: {{ form.new_password2 }}</p>
			{% csrf_token %}
			<p class="center"><input type="submit" value="Сменить"></p>
		</form>
	</div>
</body>

