{% load static %}

<!DOCTYPE html >
<html>
<head>
	<meta charset="utf-8" >
	<title>Password reset</title>
	<link href="{% static 'css/accounts.css' %}" rel="stylesheet">
</head>
<body>
	<div id="circle" class="first_asker_small"></div>
	<div id="circle" class="first_asker"></div>
	<div id="cloud" class="password_reset_form_ask">
		<h1 class="center">Ок</h1>
		<p>Напиши e-mail, который ты указывал в своём профиле.<br>
			Мы вышлем тебе туда ссылку на сброс пароля.</p>
    </div>
    <div id="circle" class="first_answerer_small"></div>
    <div id="circle" class="first_answerer"></div>
	<div id="cloud" class="password_reset_form_answer">
		<h2 class="center">Хорошо,</h2>
		<form action="." method="post">
			<b>моя почта:</b>
			{{ form.email }}
			{% csrf_token %}
			<input type="submit" value="Сбросить">
		</form>
	</div>
</body>

