{% load static %}

<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8" >
    <title>Password reset</title>
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
</head>
<body>
    <div id="circle" class="sec_asker_small"></div>
	<div id="circle" class="sec_asker"></div>
    <div id="cloud" class="password_reset_confirm_ask">
        {% if validlink %}
            {% if form.errors %}
                <h2 class="center">Ошибка!</h2>
                <p>Пароли не совпали либо введён старый пароль</p>
            {% else %}
                <h2 class="center">Отлично!</h2>
                <p>Придумай новый пароль минимум из восьми букв и цифр<br>
                    (можно и символов добавить) и введи его дважды.<br>
                    <i class="smaller">(Ну и запиши куда-нибудь, а то опять забудешь)</i></p>
            {% endif %}
        {% else %}
            <h2 class="center">Ой!</h2>
            <p>Эта ссылка уже недействительна. Попробуй сбросить пароль ещё раз.</p>
            <p class="center"><a href="{% url 'accounts:password_reset' %}">Сбросить</a></p>
        {% endif %}
    </div>
    {% if validlink %}
        <div id="circle" class="first_answerer_small"></div>
        <div id="circle" class="first_answerer"></div>
        <div id="cloud" class="password_reset_confirm_answer">
            <h2 class="center">Придумал!</h2>
            <form action="." method="post">
                <p>Пароль 1: {{ form.new_password1 }}</p>
                <p>Пароль 2: {{ form.new_password2 }}</p>
                {% csrf_token %}
                <p class="center"><input type="submit" value="Сменить"></p>
	        </form>
        </div>
    {% endif %}

</body>

